<html>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      var json_table = new google.visualization.LineChart(document.getElementById('staticData'));
      var json_data = new google.visualization.DataTable({{chartJSON}}, 0.2);

      var options = {
        title: 'Tracked and Untracked Solar Panel Comparison (Voltage)',
        legend: { position: 'bottom' },
        width: 1000,
        height: 500,
        interpolateNulls: true
      };

      json_table.draw(json_data, options);
    }

  </script>
  <body>
    <H1>Static Data Test</H1>
    <div id="staticData"></div>
    <H1>Upload Data Test</H1>
    <div id="uploadData"></div>
  </body>
</html>